<div class="form-group border border-dark">
<%= form_with(model: section) do |form| %>
  <% if section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field col-2 p-2 form-control">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field col-2 p-2 form-control">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field col-2 p-2 form-control">
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

  <div class="field col-2 p-2 form-control">
    <%= form.label :position %>
    <%= form.number_field :position %>
  </div>

  <div class="actions pb-5">
    <%= form.submit %>
  </div>
<% end %>
</div>
